.concept {
  display: flex;
  align-items: center;
}

.concept__image {
  margin-right: 104px;
}

.concept__text {
  width: 48%;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
