/**/
/* ---------- */
/* THE CONCEPT */

.concept {
  display: flex;
  align-items: center;
}

.concept__image {
  margin-right: 104px;
}

.concept__text {
  width: 48%;
}

/**/
/* ---------- */
/* THE GATHERINGS */

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

/**/
/* ---------- */
/* JOIN US - CONTACT */

.contact-background {
  background-color: var(--sup-1000);
}

.contact {
  position: relative;
}

.contact__image {
  position: absolute;
  top: 72%;
  left: calc(50% - 300px);
  height: 240px;
  width: 600px;
  object-position: bottom;
  object-fit: cover;
}

.spacer {
  margin: 256px 0 0 0;
}

.contact__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 48px 0 128px 0;
}

/**/
/* ---------- */
/* INSTAGRAM */

.instagram__header-wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 32px;
}

.instagram__icon {
  color: var(--prim-1000);
  font-size: 2rem;
  margin-right: 12px;
}

.instagram__header {
  font-family: var(--font-serif);
  font-size: 1.25rem;
}

.instagram__images {
  display: flex;
  justify-content: space-between;
}

/**/
/* ---------- */
/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 48px 0;
}
