/* Import font */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:300,400,400i,500,500i,600,600i,700,700i|Lato:300,300i,400,400i,700,700i');

/* Import icons */
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

/* Import CSS components */
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/container.css");
@import url("components/image.css");
@import url("components/link.css");
@import url("components/logo.css");
@import url("components/menu.css");
@import url("components/navbar.css");
@import url("components/header.css");

:root {
  --prim-1000: hsla(31, 42%, 53%, 1.00);
  --sup-1000: hsla(31, 15%, 94%, 1.00);
  --neutral-1000: hsla(116, 0%, 20%, 1.00);
  --neutral-100: hsla(115, 100%, 100%, 1.00);

  --font-serif: "EB Garamond", serif;
  --font-sans-serif: "Lato", sans-serif;

  font-family: var(--font-sans-serif);
  font-size: 18px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--neutral-1000);
  margin: 0;
}

h1, h2, h3 {
  font-family: var(--font-serif);
  font-weight: 400;
  text-transform: uppercase;
}

p {
  line-height: 1.5rem;
  margin-top: 0;
}

a {
  color: var(--neutral-1000);
  text-decoration: none;
}

.concept {
  display: flex;
  align-items: center;
}

.concept__image {
  margin-right: 104px;
}

.concept__text {
  width: 48%;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.contact {
  background-color: var(--sup-1000);
}

.contact__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 64px 0;
}

.instagram__header-wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 32px;
}

.instagram__icon {
  color: var(--prim-1000);
  font-size: 2rem;
  margin-right: 12px;
}

.instagram__header {
  font-family: var(--font-serif);
  font-size: 1.25rem;
}

.instagram__images {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 48px 0;
}

.margin-bottom {
  margin-bottom: 96px;
}
