.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 48px 0;

  &__links {
    display: flex;
  }

  &__item {
    color: var(--black);
    font-size: 0.875rem;
    margin-right: 48px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
  }
}
