.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 48px 0;
}

.site-nav__menu {
  display: flex;
}

.site-nav__link {
  color: var(--black);
  margin-right: 48px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-nav__link:last-child {
  margin-right: 0;
}

.site-nav__link:hover {
  border-bottom: 2px solid var(--primary);
}
