.banner {
  display: flex;

  &__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__header {
    position: relative;
    width: 128%;
    margin-bottom: 32px;
    font-family: var(--font-serif);
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;
  }

  &__paragraph {
    width: 96%;
    margin-bottom: 48px;
  }

  &__image-wrap {
    position: relative;
  }

  &__image {
    height: 500px;
    width: 600px;
    object-fit: cover;
    object-position: center;
  }

  &__deco {
    background-color: var(--secondary);
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 75%;
    z-index: -1;
  }
}
