.card {
  display: flex;
  flex-direction: column;

  &__image-wrap {
    position: relative;
    margin-bottom: 12px;
    &:hover .card__overlay {
    opacity: 0.8;
    }
  }

  &__image {
    height: 288px;
    width: 240px;
    object-fit: cover;
    object-position: center;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 288px;
    width: 240px;
    background-color: var(--black);
    opacity: 0;
    transition: .5s ease;
    &--new-edition {
      background-color: var(--primary);
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__heading {
    color: var(--white);
    font-family: var(--font-serif);
    font-size: 1.25rem;
    margin-bottom: 24px;
  }

  &__link {
    color: var(--white);
    font-family: var(--font-serif);
    font-size: 1.125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__edition {
    color: var(--primary);
  }

  &__city {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
