body {
  color: var(--neutral-1000);
  font-family: var(--font-sans-serif);
  font-weight: 300;
  line-height: 1.5rem;
}

.heading {
  display: flex;
  align-items: center;
  font-family: var(--font-serif);
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.heading__article {
  font-size: 1.125rem;
  transform: rotate(-90deg);
  text-transform: lowercase;
}

.heading--small {
  font-size: 1.25rem ;
}

.heading__article--small {
  font-size: 0.875rem ;
}

.link {
  color: var(--neutral-1000);
  text-decoration: none;
}

.link-underlined {
  background-image: linear-gradient(180deg, transparent 65%, rgba(186, 137, 86, 0.3) 0);
  color: var(--neutral-1000);
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
