.banner {
	display: flex;
	padding: 32px 24px;
}

.banner__intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-right: 24px;
}

.banner__header {
  position: relative;
  width: 150%;
  z-index: 1;
	font-size: 2.25rem;
  letter-spacing: 1px;
}

.banner__image-wrap {
	position: relative;
}

.banner__image {
	width: 600px;
	height: 500px;
	object-fit: cover;
	object-position: center;
}

.banner__text {
	margin-bottom: 32px;
}

.banner__deco {
	background-color: var(--sup-1000);
	position: absolute;
	top: 40%;
	left: 50%;
	width: 100%;
	height: 75%;
	z-index: -1;
}
