.card {
  display: flex;
  flex-direction: column;
}

.card__image-wrap {
  position: relative;
}

.card__image {
  height: 288px;
  width: 240px;
  object-fit: cover;
  object-position: center;
}

.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 288px;
  width: 240px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(185,137,85);
}

.card__image-wrap:hover .card__overlay {
  opacity: 0.8;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-family: var(--font-serif);
  font-size: 1.25rem;
}

.card__link {
  color: white;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
}

.card__edition {
  color: var(--prim-1000);
}

.card__city {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  text-transform: uppercase;
}
