.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 48px 0;
}

.footer__links {
  display: flex;
}

.footer__item {
  color: var(--neutral-1000);
  font-size: 0.875rem;
  margin-right: 48px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__item:last-child {
  margin-right: 0;
}
