.header {
  display: flex;
  align-items: center;
  font-family: var(--font-serif);
  font-size: 1.875rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.header__article {
  font-size: 1.125rem;
  transform: rotate(-90deg);
  text-transform: lowercase;
}
