.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo:hover {
    color: var(--prim-1000);
}

.logo__name {
    font-family: var(--font-serif);
    font-size: 1.875rem;
    text-transform: uppercase;
}

.logo__name--tilted {
    font-size: 1.125rem;
    transform: rotate(-90deg);
    text-transform: lowercase;
}
