.logo {
  display: flex;
  align-items: center;
  font-family: var(--font-serif);
  font-size: 1.875rem;
  text-transform: uppercase;
}

.logo--small {
  font-size: 1.25rem ;
}

.logo__article {
  font-size: 1.125rem;
  transform: rotate(-90deg);
  text-transform: lowercase;
}

.logo__article--small {
  font-size: 0.875rem ;
}
