.menu {
  display: flex;
}

.menu__item {
  margin-right: 48px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  border-bottom: 2px solid var(--prim-1000);
}

.menu__item--footer {
  padding-bottom: 0;
  border-bottom: none;
}

.menu__item--footer:hover {
  border-bottom: none;
}
