/**/
/* THE CONCEPT */
.concept {
  display: flex;
  align-items: flex-end;
}

.concept__image-wrap {
  height: 240px;
  width: 240px;
  margin: 0 104px 0 32px;
}

.concept__text {
  width: 48%;
}

/**/
/* THE GATHERINGS */
.cards-container {
  display: flex;
  justify-content: space-between;
}

/**/
/* JOIN US - CONTACT */
.contact {
  position: relative;
}

.contact__text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 48px 0 96px 0;
}

.contact__text {
  margin-bottom: 32px;
}

.contact__image {
  position: absolute;
  top: 80%;
  left: 19%;
  width: 60%; /* Of parent container */
}

/**/
/* INSTAGRAM */
.instagram__header-wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
}

.instagram__icon {
  color: var(--prim-1000);
  font-size: 1.875rem;
  margin-right: 8px;
}

.instagram__heading {
  font-family: var(--font-serif);
  font-size: 1.25rem;
  font-weight: 300;
}

.instagram__images {
  display: flex;
  justify-content: space-between;
}
